{% extends "base.html" %}

{% block title %}Contact | RMD{% endblock %}

{% block content %}

<div class="grid grid-cols-1 md:grid-cols-1 gap-6 mt-12 text-center">
  <div class="bg-white dark:bg-gray-800 rounded-xl shadow-md p-6">
    <h2 class="text-xl font-semibold mb-2 text-indigo-700 dark:text-indigo-400">How to reach out</h2>
        <p class="text-gray-600 dark:text-gray-300">
            If you would like to get in touch with Denny Schaedig or learn more about Rocky Mountain Digerati and the tools available to you, please feel free to reach out to dennys@rmdig.ai
        </p>
  </div>
</div>
{% endblock %}