{% extends "base.html" %}

{% block title %}HRfunc Guide | RMD {% endblock %}

{% block content %}

<div class="py-16 px-4 md:px-8 max-w-6xl mx-auto dark:bg-gray-900 dark:text-gray-100">
    <div>
    <h2 class="text-4xl font-bold mb-4 text-indigo-600 dark:text-indigo-400 text-center">Getting Started with HRfunc</h2>
        <br><br>
        <p class="text-lg text-white leading-relaxed mb-4">
        To use the HRfunc tool to estimate latent neural activity, one must accomplish three
        <ol class="list-decimal pl-6 space-y-2 text-gray-700 dark:text-gray-300">
            <li>Estimate subject level estimates for each subject</li>
            <li>Generate a subject pool HRF distribution</li>
            <li>Estimate channel-wise neural activity for each subject</li>
        </ol>
        <br><br>To first estimate subject level HRFs, initialize a <code class="language-python"><span class="text-green-200">hrfunc</span>.<span class="text-blue-200">montage</span>()</code>
        object and then iterate through each of your <strong>raw</strong> scans passing them into the
        <code class="language-python"><span class="text-blue-200">montage</span>.estimate_hrf()</code> 
        function. The <strong>HRfunc</strong> tool will automatically preprocess them for deconvolution, which is distinctly different than standard 
        hemoglobin preprocessing. The <code class="language-python">_lambda</code> variable can be tuned to increase and decrease noise suppresion 
        within the signal.<br><br>
            
    <div class="w-full bg-black text-white text-sm font-mono overflow-x-auto py-6 px-6">
<pre><code class="language-python">
<span class="text-blue-200">import</span> <span class="text-green-300">hrfunc</span> <span class="text-blue-200">as</span> <span class="text-green-300">hrf</span>

<span class="text-gray-300"># Load in NIRX scans</span>
<span class="text-blue-200">raw_scan</span> = <span class="text-green-300">mne</span>.io.read_raw_nirx("path/to/your/nirx/scan/")

<span class="text-gray-300"># Load a hrfunc montage</span>
<span class="text-blue-200">montage</span> = <span class="text-green-300">hrf</span>.<span class="text-blue-200">montage</span>(raw_scan)
    
<span class="text-gray-300"># Iterate through each of your MNE NIRX scans and estimate an HRF for it</span>
<span class="text-purple-300">for</span> <span class="text-blue-200">scan</span> <span class="text-purple-300">in</span> <span class="text-blue-200">raw_scans</span>:
    <span class="text-blue-200">montage</span>.estimate_hrf(duration = 30.0, _lambda = 1.0)

</code></pre>
    </div>
            <br><br>After passing each scan into your montage to have HRFs estimated, you can now
            average across subject estimates to generate a subject-pool wide HRF estimate for each channel. <br><br>
    
    <div class="w-full bg-black text-white text-sm font-mono overflow-x-auto py-6 px-6">
<pre><code class="language-python">
<span class="text-gray-300"># Generate subject pool wide distribution</span>
<span class="text-blue-200">montage</span>.generate_distribution() 
<span class="text-blue-200">montage</span>.save('study_HRFs.json') 
</code></pre>
</div>
</div>
<br><br>After generating a subject-pool wide distribution, an HRF estimate will be attached to each of
your hrf montage channel nodes for use in estimating neural activity.

<br><br>Now using our estimated HRFs we can estimate neural activity! To accomplish this
you must iterate through each of your scans and pass them into your <code class="language-python"><span class="text-blue-200">montage</span>.estimate_activity(raw)</code>. This will replace channel
hemoglobin data in place using using MNEs raw.apply_function() to each channel using
you're estimated channel HRF.<br><br>
<div class="w-full bg-black text-white text-sm font-mono overflow-x-auto py-6 px-6">
<pre><code class="language-python">
<span class="text-gray-400"># Estimate neural activity in place and save the nirx object</span>
<span class="text-purple-300">for</span> <span class="text-blue-200">scan</span> <span class="text-purple-300">in</span> <span class="text-blue-200">raw_scans</span>:
    <span class="text-blue-200">montage</span>.estimate_activity(<span class="text-blue-200">scan</span>)
    <span class="text-blue-200">scan</span>.save('sub-123_deconvolved.fif')
</code></pre>
    </div>
    </div>
  </div>

{% endblock %}