{% extends "base.html" %}

{% block title %}HRfunc| RMD {% endblock %}

{% block content %}

<div class="py-16 px-4 md:px-8 max-w-6xl mx-auto dark:bg-gray-900 dark:text-gray-100">
  <div>
    <h2 class="text-4xl font-bold mb-4 text-indigo-600 dark:text-indigo-400">
      Estimate Neural Activity with HRfunc
    </h2>

    <div class="clearfix">
      <img
        src="{{ url_for('static', filename='img/hrf_estimate.png') }}"
        alt="HRF estimate calculated from HRfunc"
        class="float-left mr-6 mb-4 w-80 rounded-xl shadow-lg border-4 border-indigo-500 dark:border-indigo-400"
      >

      <p class="text-lg text-gray-700 dark:text-gray-300 leading-relaxed mb-4">
        <strong><a href="https://github.com/dennys246/HRFunc" class="text-indigo-400 hover:text-indigo-600">HRfunc</a></strong> is a tool built for the neuroimaging community to model hemodynamic 
        variability and estimate neural activity from functional near infrared spectroscopy (fNIRS) data.
        Neuroimaging data like fNIRS and fMRI is often analyzed in its hemoglobin state modeled alongside
        a canonical hemodynamic response function (HRF) to infer neural activity. This can be problematic
        as canonical HRFs are variable and a one-size-fits-all HRF does not exist. HRfunc aims to fix this
        by enabling scientists to easily model HRFs within their own data and estimate neural activity through
        deconvolution.
        
        <br><br>HRF estimates, contributed by the neuroimaging community, are stored within a database called
        the <strong><a href="/hrtree_guide" class="text-indigo-400 hover:text-indigo-600">HRtree</a></strong> that long term we hope will be a 
        community resource for investigating hemodynamic variability. Each HRF estimate stores a rich 
        amount of details about the derived HRFs origin aside from their location like task being 
        complete, age range of subject pool, stimuli intensity, etc. Along with this, submitted 
        estimates are only accepted from datasources with a paper published (pre-print accepted as well) detailing
        data collection to ensure the database is as comprehensive as possible.
      </p>
    <div class="flex justify-center mt-8">
      <a href="/hrfunc_guide" class="inline-block">
        <button class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">
          Get started today!
        </button>
      </a>
    </div>
    </div>
  </div>
</div>

{% endblock %}