{% extends "base.html" %}

{% block main_class %}Home | RMDig {% endblock %}

{% block content %}
<!-- Background Image Wrapper -->
<div class="flex flex-col justify-center bg-cover bg-center bg-no-repeat w-full" style="background-image: url('/static/img/buffalo_dillion_resevoir.JPG'); min-height: calc(100vh - 128px);">

<div class="text-center py-16 px-6 text-gray-100 max-w-4xl mx-auto">
  <h1 class="text-5xl font-extrabold text-gray-800 leading-tight mb-4">
    Welcome to <span class="text-indigo-600 [text-shadow:_-1px_-1px_0_black,_1px_-1px_0_black,_-1px_1px_0_black,_1px_1px_0_black]"><br>Rocky Mountain Digerati</span>
  </h1>
  <p class="text-xl text-gray-800 max-w-2xl mx-auto font-satoshi font-extrabold">
    Explore the world with AI
  </p>
</div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-12 text-center p-6">
    <div class="bg-black rounded-xl shadow-md p-6">
      <h3 class="text-xl font-semibold mb-2 text-indigo-400">
        <a href="/avai" class="hover:text-indigo-700">Apply AI to Avalanche Risk</a>
      </h3>
      <p class="text-gray-300">
        Learn about how we're applying AI to improve avalanche risk predictions with
        <strong>AvAI</strong>! We anticipate releasing AvAI at the
        beginning of the 2026-2027 Winter season for backcountry
        adventurers to bring with them on their epic
        journey's and be more informed of the risk they face.
      </p>
    </div>
    <div class="bg-black rounded-xl shadow-md p-6">
      <h3 class="text-xl font-semibold mb-2 text-indigo-400">
        <a href="/collection_signup" class="hover:text-indigo-700">Dig Snowpits with Us!</a>
      </h3>
      <p class="text-gray-300">
        Join us this season collecting snowpack data! If you are a backcountry shredder
        who lives in Colorado, we will train you and supply you with everything you need
        to collect some data on your own backcountry adventures. <a href="/collection_signup" class="text-indigo-400 hover:text-indigo-700">Signup here</a> if you're interested!
      </p>
    </div>
    <div class="bg-black rounded-xl shadow-md p-6">
      <h3 class="text-xl font-semibold mb-2 text-indigo-400">
        <a href="/snowpack_dataset" class="hover:text-indigo-700">Rocky Mountain<br> Snowpack Dataset</a>
      </h3>
      <p class="text-gray-300">
        Explore the <strong>unique dataset</strong> used to develop our open-source tools yourself and train your own custom AI, using our pre-trained models as a starting point!
      </p>
    </div>
  </div>
</div>
{% endblock %}