{% extends "base.html" %}

{% block title %}About | RMD {% endblock %}

{% block content %}

        
<div class="py-16 px-4 md:px-8 max-w-6xl mx-auto dark:bg-gray-900 dark:text-gray-100">
    <div class="grid grid-cols-1 md:grid-cols-1 gap-12 items-center text-center">
    <h2 class="text-4xl font-bold mb-4 text-indigo-600 dark:text-indigo-400">Rocky Moutain Digerati's<br><span class="text-4xl font-bold mb-4 text-indigo-800 dark:text-indigo-600">Mission</span></h2>
    <p class="text-lg text-gray-700 dark:text-gray-300 leading-relaxed mb-4">
        The mission of Rocky Mountain Digerati is to provide free open-source tools and resources that empower researchers and enthusiasts in the field of neuroscience and machine learning. We aim to bridge the gap between science and artificial intelligence, enabling innovative applications and advancements in neuroimaging analysis while maintaining scientific standards. By fostering collaboration, we hope to explore the frontier of our understanding of what it means to be human.
    </p>
    </div>
  </div>

{% endblock %}